<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<div>
			<fieldset style="width: 100%; height: 50px;">
				<div style="float: left;margin-right: 100px;">
					当前位置：用户管理->查看用户列表->查看学生选课信息
				</div>
				<legend>查询条件</legend>
				<label>请选择查询的类型
					<select name="select">
						<option>请选择</option>
					</select>
					<input type="text" name="sel_inp" style="height: 20px; border-radius:15px;outline:none;padding-left: 10px;" placeholder='请输入要查询的条件'/>
				</label>
				<button style="width: 100px;height: 25px; border-radius: 15px;outline:none;  box-shadow:2px 2px 5px gray">查询</button>
			</fieldset>
		</div>
		
		<div style="margin-top: 20px;">
			<table id="table" border="1" cellspacing="0" style="width: 100%;text-align: center;font-weight: bold;">
				<tr>
					<td>序号</td>
					<td>学号</td>
					<td>姓名</td>
					<td>性别</td>
					<td>专业</td>	
					<td>选修课程</td>
					<td>操作</td>
				</tr>
			</table>
		</div>
	</body>
	<script type="text/javascript" src=../js/jquery-1.7.1.js></script>
	<script type="text/javascript">
		$(function(){
			//console.log("aaaaaa");
			//alert("aaaaaaaaa");
			var a = 0;
			$.ajax({
				type:"get",
				url:"http://localhost/xiangmuTwo/index.php?class=sql&action=stuCourMages",
				success:function(res){
					res = eval(res);
					console.log(res);
					for(var i = 0;i < res.length;i++){
						a++;
						var bianji = "<button>编辑</button>";
						var shan = "<button>删除</button>";
						var obj = res[i];
						$("#table").append("<tr><td>"+a+"</td><td>"+obj.s_id+"</td><td>"+obj.name+"</td><td>"+obj.sex+"</td><td>"+obj.z_name+"</td><td>"+obj.x_name+"</td><td>"+bianji+shan+"</td></tr>");
					}
				}
			});
		})
		
	</script>
</html>
